# Copy this file to .env and fill in the values
DATABASE__POSTGRES_USER=your_user
DATABASE__POSTGRES_PASSWORD=your_password
KEYCLOAK__KEYCLOAK_USERNAME=your_keycloak_admin
KEYCLOAK__KEYCLOAK_PASSWORD=your_keycloak_password
